<div class="container float-left">
<div [style.background-image]=" ' url(./assets/' + bg-pic?.jpg +')'" >
    <div class="introtext display-4 jumbotron jumbotron-fluid mx-auto text-center">
        <div class="container p3">
    Welcome to fitness center
    </div>
    </div>
    <div class="display-6 text-center bg-warning">
        Don't Sit, Stay Fit
    </div>
    <div class="card">
        <div class="card-body">
            <p> Here at Fitness we take care of our clients no matter what!.</p>
            <p>
            We provide excellent training programs with professional trainers. We focus on individual body type
            and recommend different programs for men and women. With extensive cardio exercises for the weight loss,
            the Weight training for muscle gain with personal trainers including individual preferences.
            </p>
            <p>
                Free 24/7 nutritionist support for the balanced diet and detailed schedule for whole day even considering
                the needs of the working people and according to the work type you do, and specialized yoga programs for old people.
            </p>
            <p>
                <strong>Book an appointment now!</strong>
            </p>
            <p>
        
                Enroll once at us and all your body worries are ours. Or you can leave us a message and we will contact you
            </p>

            
    
    
    </div>
</div>
</div>